In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import fuzzymatcher

In [2]:
data_dir = Path('D:\Project\Project_THDL\Book data')

In [3]:
df_recomadation_book = pd.read_csv(data_dir / 'Book recomadation dataset/data.csv')

In [4]:
df_genPre_book = pd.read_csv(data_dir / 'Book genre prediction/Books.csv')

#format column name
df_genPre_book.drop(['ISBN'],axis=1, inplace=True)
df_genPre_book.rename(columns={'Book-Title':'title'}, inplace=True)
df_genPre_book.rename(columns={'Book-Author':'author'}, inplace=True)
df_genPre_book.rename(columns={'Year-Of-Publication':'year'}, inplace=True)
df_genPre_book.rename(columns={'Publisher':'publisher'}, inplace=True)

In [5]:
df_goodRead_book = pd.read_csv(data_dir / 'Book Goodreads/books.csv')

In [6]:
df_Crossing_book = pd.read_csv(data_dir / 'Book Crossing/Books Data with Category Language and Summary/Preprocessed_data.csv')

In [7]:
df_Crossing_book.drop(df_Crossing_book[df_Crossing_book['isbn']=='0751352497'].index, axis=0, inplace=True)
df_Crossing_book.drop(['img_s',
                       'img_m',
                       'img_l', 
                       'location',
                       'isbn'],axis=1, inplace=True)
df_Crossing_book.rename(columns={'book_author':'author'}, inplace=True)
df_Crossing_book.rename(columns={'book_title':'title'}, inplace=True)

In [8]:
df_depository_book = pd.read_csv(data_dir / 'Book depository/dataset.csv')

In [9]:
df_depository_book.drop([467665], axis=0, inplace=True)
df_depository_book.drop(['dimension-x', 
                         'dimension-y', 
                         'dimension-z', 
                         'edition',
                         'edition-statement',
                         'for-ages',
                         'illustrations-note',
                         'image-checksum',
                         'image-path',
                         'image-url',
                         'imprint',
                         'index-date',
                         'publication-place',
                         'url',
                         'weight',
                         'isbn10',
                         'isbn13'
                         ], axis=1, inplace=True)
df_depository_book.rename(columns={'authors':'author'}, inplace=True)

In [10]:
#df_goodRead_book.info() #abandon
#df_genPre_book.info() 
#df_recomadation_book.info()
df_depository_book.info()
df_Crossing_book.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1109382 entries, 0 to 1109382
Data columns (total 11 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   author            1109382 non-null  object
 1   bestsellers-rank  642540 non-null   float64
 2   categories        1109382 non-null  object
 3   description       1029295 non-null  object
 4   format            1102760 non-null  float64
 5   id                1109382 non-null  int64
 6   lang              1048975 non-null  object
 7   publication-date  1106779 non-null  object
 8   rating-avg        669252 non-null   float64
 9   rating-count      669252 non-null   float64
 10  title             1109382 non-null  object
dtypes: float64(4), int64(1), object(6)
memory usage: 101.6+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 1031174 entries, 0 to 1031174
Data columns (total 14 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unnamed: 0           1031174 non-null  int64
 1   user_id              1031174 non-null  int64
 2   age                  1031174 non-null  float64
 3   rating               1031174 non-null  int64
 4   title                1031174 non-null  object
 5   author               1031174 non-null  object
 6   year_of_publication  1031174 non-null  float64
 7   publisher            1031174 non-null  object
 8   Summary              1031174 non-null  object
 9   Language             1031174 non-null  object
 10  Category             1031174 non-null  object
 11  city                 1017071 non-null  object
 12  state                1008376 non-null  object
 13  country              995800 non-null   object
dtypes: float64(2), int64(3), object(9)
memory usage: 118.0+ MB

In [11]:
#####################################################
#process book recomadation and book genre prediction#
#####################################################

In [12]:
df_genPre_book['recomadation_book_exists'] = np.where(df_genPre_book['title'].isin(list(df_recomadation_book['title'].unique())),1,0)

df_genPre_book[df_genPre_book['recomadation_book_exists']==1]

,title,author,year,publisher,recomadation_book_exists
13,Jane Doe,R. J. Kaiser,1999,Mira Books,1
18,The Testament,John Grisham,1999,Dell,1
38,Seabiscuit: An American Legend,LAURA HILLENBRAND,2002,Ballantine Books,1
41,Pride and Prejudice,Jane Austen,1983,Bantam,1
46,From the Corner of His Eye,Dean Koontz,2001,Bantam Books,1
...,...,...,...,...,...
270659,Lightning,Patricia Potter,1992,Bantam Books,1
270739,Hush Little Baby,Sylvia Long,2002,Chronicle Books,1
270926,Radiance,Anne Maybury,1980,Ace Books,1
271055,Anthem,Ayn Rand,1966,Caxton Press,1
271316,Singularity Sky,Charles Stross,2004,Ace,1

In [13]:
df_recomadation_book['genPre_book_exists'] = np.where(df_recomadation_book['title'].isin(list(df_genPre_book['title'].unique())),1,0)

df_recomadation_book[df_recomadation_book['genPre_book_exists']==1]

,index,title,genre,summary,genPre_book_exists
4,4,Taran Wanderer,fantasy,Taran and Gurgi have returned to Caer Dallben...,1
5,5,Thendara House,fantasy,The novel concerns the dwelling of the Darkov...,1
6,6,The Thief,fantasy,"Gen is released from prison by the magus, the...",1
11,11,Queen of Demons,fantasy,"In the introduction, the current King of the ...",1
15,15,Always Coming Home,fantasy,The book weaves around the story of a Kesh wo...,1
...,...,...,...,...,...
4638,4638,Perdido Street Station,fantasy,"Beneath the towering bleached ribs of a dead, ...",1
4648,4648,The Time Traveler's Wife,fantasy,This is the extraordinary love story of Clare ...,1
4649,4649,Beauty: A Retelling of the Story of Beauty and...,fantasy,A strange imprisonment...\n\nBeauty has never ...,1
4653,4653,Charlie and the Chocolate Factory,fantasy,Charlie Bucket's wonderful adventure begins wh...,1
4656,4656,Radiance,fantasy,"The Prince of no value\nBrishen Khaskem, princ...",1

In [14]:
df_genPre_no_recomadation = pd.DataFrame(df_genPre_book[df_genPre_book['recomadation_book_exists']==0]['title'].unique()).set_axis(['title'],axis=1)
df_genPre_no_recomadation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240474 entries, 0 to 240473
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   240474 non-null  object
dtypes: object(1)
memory usage: 1.8+ MB

In [15]:
df_recomadation_no_genPre = pd.DataFrame(df_recomadation_book[df_recomadation_book['genPre_book_exists']==0]['title'].unique()).set_axis(['title'],axis=1)
df_recomadation_no_genPre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2639 entries, 0 to 2638
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   2639 non-null   object
dtypes: object(1)
memory usage: 20.7+ KB

In [16]:
# Fuzzy matching
def fuzzy_merge(df_1, df_2, key1, key2, threshold=90, limit=1):
    """
    :param df_1: the left table to join
    :param df_2: the right table to join
    :param key1: key column of the left table
    :param key2: key column of the right table
    :param threshold: how close the matches should be to return a match, based on Levenshtein distance
    :param limit: the amount of matches that will get returned, these are sorted high to low
    :return: dataframe with boths keys and matches
    """
    s = df_2[key2].tolist()
    
    m = df_1[key1].apply(lambda x: process.extract(x, s, limit=limit))    
    df_1['matches'] = m
    
    m2 = df_1['matches'].apply(lambda x: ', '.join([i[0] for i in x if i[1] >= threshold]))
    df_1['matches'] = m2
    
    return df_1

In [17]:
#fuzzy_match_book_name = fuzzy_merge(df_recomadation_no_genPre, df_genPre_no_recomadation, 'title', 'title', threshold=80, limit=1)
#fuzzy_match_book_name.to_csv(data_dir / 'fuzzy match recom vs genPre.csv', index=False)

In [18]:
#fuzzymatcher_match_recom_vs_genPre = fuzzymatcher.fuzzy_left_join(df_recomadation_no_genPre, df_genPre_no_recomadation, left_on='title', right_on='title')
#fuzzymatcher_match_recom_vs_genPre.to_csv(data_dir / 'fuzzy match recom vs genPre (fuzzymatcher).csv', index=False)

In [19]:
fuzzymatcher_match_recom_vs_genPre = pd.read_csv(data_dir / 'fuzzy match recom vs genPre (fuzzymatcher).csv')

In [20]:
fuzzymatcher_match_recom_vs_genPre.sort_values(by=['best_match_score'], ascending=False).head(10)

,best_match_score,__id_left,__id_right,title_left,title_right
1701,4.036427,1701_left,159160_right,How the Irish Saved Civilization: The Untold S...,How the Irish Saved Civilization : The Untold ...
1825,3.597682,1825_left,143600_right,The Gift of Therapy: An Open Letter to a New G...,The Gift of Therapy : An Open Letter to a New ...
2343,3.055182,2343_left,49844_right,I'm a Stranger Here Myself: Notes on Returning...,I'm a Stranger Here Myself : Notes on Returnin...
1677,2.907667,1677_left,31334_right,"The Devil in the White City: Murder, Magic, an...","The Devil in the White City: Murder, Magic, an..."
1688,2.737315,1688_left,2066_right,Lies My Teacher Told Me: Everything Your Ameri...,Lies My Teacher Told Me : Everything Your Amer...
1690,2.711565,1690_left,3322_right,The Professor and the Madman: A Tale of Murder...,The Professor and the Madman: A Tale of Murder...
1945,2.568821,1945_left,13617_right,"""Surely You're Joking, Mr. Feynman!"": Adventur...","\Surely You're Joking, Mr. Feynman!\"": Adventu..."
1679,2.412883,1679_left,13428_right,The Rise and Fall of the Third Reich: A Histor...,The Rise and Fall of the Third Reich : A Histo...
2347,2.339485,2347_left,12875_right,Into Thin Air: A Personal Account of the Mount...,Into Thin Air : A Personal Account of the Moun...
1996,2.301154,1996_left,57458_right,Billions & Billions: Thoughts on Life and Deat...,Billions and Billions: Thoughts on Life and De...

In [21]:
fuzzymatcher_match_recom_vs_genPre.query('best_match_score <= 0.3').sort_values(by=['best_match_score'], ascending=False).head(10)

,best_match_score,__id_left,__id_right,title_left,title_right
499,0.299569,499_left,46492_right,Learning the World,The Crazy World of Learning to Drive
2334,0.299346,2334_left,55061_right,Vicious,Vicious Circle
35,0.299156,35_left,30183_right,Alice in Verse: The Lost Rhymes of Wonderland,Alice in Wonderland
70,0.299104,70_left,184544_right,Gate of Ivrel,Gate of Ivrel (DAW Books = sf)
67,0.298845,67_left,52624_right,The Lake of Tears,"The Lake of Tears (Deltora Quest, 2)"
964,0.298316,964_left,82905_right,Adam of the Road,Adam of the Road (Puffin Newberry Library)
2336,0.297986,2336_left,127632_right,The Collective,Murder in the Collective
121,0.297905,121_left,26081_right,Fablehaven: Rise of the Evening Star,The Evening Star
2184,0.297774,2184_left,191314_right,The Lost Man,Man Who Lost the War
204,0.297602,204_left,131797_right,The Deluge Drivers,"Deluge Drivers (Icerigger Trilogy, Book 3)"

In [22]:
fuzzymatcher_match_recom_vs_genPre.drop(fuzzymatcher_match_recom_vs_genPre[fuzzymatcher_match_recom_vs_genPre['best_match_score']<0.6].index, axis=0, inplace=True)

In [23]:
fuzzy_match_dict = dict(zip(fuzzymatcher_match_recom_vs_genPre['title_right'], fuzzymatcher_match_recom_vs_genPre['title_left']))

In [24]:
df_genPre_book['title'] = df_genPre_book['title'].replace(fuzzy_match_dict)

In [25]:
df_genPre_book['recomadation_book_exists'] = np.where(df_genPre_book['title'].isin(list(df_recomadation_book['title'].unique())),1,0)

In [26]:
df_recomadation_book['genPre_book_exists'] = np.where(df_recomadation_book['title'].isin(list(df_genPre_book['title'].unique())),1,0)

In [27]:
###########################################
#process book depository and book crossing#
###########################################

In [28]:
df_Crossing_book['depository_book_exists'] = np.where(df_Crossing_book['title'].isin(list(df_depository_book['title'].unique())),1,0)

df_Crossing_book[df_Crossing_book['depository_book_exists']==1].info()

<class 'pandas.core.frame.DataFrame'>
Index: 273873 entries, 0 to 1031165
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              273873 non-null  int64
 1   user_id                 273873 non-null  int64
 2   age                     273873 non-null  float64
 3   rating                  273873 non-null  int64
 4   title                   273873 non-null  object
 5   author                  273873 non-null  object
 6   year_of_publication     273873 non-null  float64
 7   publisher               273873 non-null  object
 8   Summary                 273873 non-null  object
 9   Language                273873 non-null  object
 10  Category                273873 non-null  object
 11  city                    270595 non-null  object
 12  state                   268364 non-null  object
 13  country                 264134 non-null  object
 14  depository_book_exists  273873 non-null  int32
dtypes: float64(2), int32(1), int64(3), object(9)
memory usage: 32.4+ MB

In [ ]:
df_depository_book['crossing_book_exists'] = np.where(df_depository_book['title'].isin(list(df_Crossing_book['title'].unique())),1,0)

df_depository_book[df_depository_book['crossing_book_exists']==1]

In [30]:
df_Crossing_book_no_depos = pd.DataFrame(df_Crossing_book[df_Crossing_book['depository_book_exists']==0]['title'].unique()).set_axis(['title'],axis=1)
df_Crossing_book_no_depos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222199 entries, 0 to 222198
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   222199 non-null  object
dtypes: object(1)
memory usage: 1.7+ MB

In [31]:
df_depository_book_no_cross = pd.DataFrame(df_depository_book[df_depository_book['crossing_book_exists']==0]['title'].unique()).set_axis(['title'],axis=1)
df_depository_book_no_cross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938669 entries, 0 to 938668
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   938669 non-null  object
dtypes: object(1)
memory usage: 7.2+ MB

In [33]:
df_depository_book_no_cross.drop(df_depository_book_no_cross.tail(500000).index, inplace=True)

In [34]:
df_depository_book_no_cross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438669 entries, 0 to 438668
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   title   438669 non-null  object
dtypes: object(1)
memory usage: 3.3+ MB

In [35]:
fuzzymatcher_match_cross_vs_depos = fuzzymatcher.fuzzy_left_join(df_Crossing_book_no_depos, df_depository_book_no_cross, left_on='title', right_on='title')
fuzzymatcher_match_cross_vs_depos.to_csv(data_dir / 'fuzzy match cross vs depos (fuzzymatcher).csv', index=False)

In [36]:
fuzzymatcher_match_cross_vs_depos.head(10)

,best_match_score,__id_left,__id_right,title_left,title_right
0,-0.017146,0_left,7392_right,Clara Callan,Callan Uncovered
30,3.131804,1_left,64013_right,Flu: The Story of the Great Influenza Pandemic...,Flu : The Story of the Great Influenza Pandemi...
31,2.970130,2_left,54649_right,What If?: The World's Foremost Military Histor...,What If?: the World's Foremost Military Histor...
32,0.032156,3_left,11924_right,PLEADING GUILTY,The Guilty
79,-0.538855,4_left,182401_right,Under the Black Flag: The Romance and the Real...,Under the Black Hat : My Life in the Wwe and B...
349,0.207246,5_left,210431_right,Where You'll Find Me: And Other Stories,I'm Waiting for You : And Other Stories
365,0.000275,6_left,5574_right,Nights Below Station Street,The Pellew Street Horror
415,-0.605587,7_left,175306_right,Hitler's Secret Bankers: The Myth of Swiss Neu...,Hitler's Pawn : The Boy Assassin and the Holoc...
660,0.046477,8_left,11170_right,The Middle Stories,Hole in the Middle
819,1.174272,9_left,219874_right,A Second Chicken Soup for the Woman's Soul (Ch...,Chicken Soup for the Woman's Soul